

<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta property="og:image" content="https://static.b1project.com/images/HTML5VirtualPiano.png" />
	<meta property="og:site_name" content="The B1 Project" />
	<meta property="og:title" content="HTML5 Virtual Piano" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.b1project.com/virtualPiano.html" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Author" content="Bosselut Cyril (NOSPAM_webmaster@b1project.com)" />
	<meta name="application-name" content="The B1 Project" />
	<meta name="robots" content="index,follow,all" />
	<meta name="revisit-after" content="7 days" />
	<meta name="keywords" content="piano,virtual,html5,css3,javascript,audio" />
	<meta name="description" content="Virtual piano using HTML5 audio capabilities. Play piano in your browser with mouse and keyboard" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>HTML5 Virtual Piano</title>
	<link rel="stylesheet" type="text/css" href="https://static.b1project.com/css/virtualPiano.css" media="all" />
	<link title="Icon" rel="icon" href="https://static.b1project.com/images/HTML5VirtualPianoIcon.png" type="image/png" />
	<link rel="shortcut icon" href="https://static.b1project.com/images/HTML5VirtualPianoIcon.png" type="image/png" />
    <link rel="canonical" href="https://www.b1project.com/virtualPiano.html" />
    <script type="text/javascript" src="https://static.b1project.com/js/my.js"></script>
    <script type="text/javascript" src="https://static.b1project.com/js/cookie-consent.js"></script>
    <script type="text/javascript" src="https://static.b1project.com/js/virtualPiano.js">
    	
    </script>
</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
	<header>
		<h1><span itemprop="name">HTML5 Virtual Piano</span></h1>
		<img itemprop="image" src="https://static.b1project.com/images/HTML5VirtualPiano.png" alt="screenshot" style="display:none;" />
	</header>
	<section id="piano" class="p3d">
		<div class="keyboard">
			<ul class="scale oct0">
				<li class="C white"><a href="#" onmousedown="playNote('C1', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('C1', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>C</span></a></li>
				<li class="Cd black"><a href="#" onmousedown="playNote('C1d', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('C1d', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>C&#9839;</span></a></li>
				<li class="D white"><a href="#" onmousedown="playNote('D1', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('D1', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>D</span></a></li>
				<li class="Eb black"><a href="#" onmousedown="playNote('E1b', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('E1b', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>E&#9837;</span></a></li>
				<li class="E white"><a href="#" onmousedown="playNote('E1', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('E1', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>E</span></a></li>
				<li class="F white"><a href="#" onmousedown="playNote('F1', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('F1', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>F</span></a></li>
				<li class="Fd black"><a href="#" onmousedown="playNote('F1d', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('F1d', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>F&#9839;</span></a></li>
				<li class="G white"><a href="#" onmousedown="playNote('G1', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('G1', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>G</span></a></li>
				<li class="Gd black"><a href="#" onmousedown="playNote('G1d', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('G1d', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>G&#9839;</span></a></li>
				<li class="A white"><a href="#" onmousedown="playNote('A1', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('A1', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>A</span></a></li>
				<li class="Bb black"><a href="#" onmousedown="playNote('B1b', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('B1b', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>B&#9837;</span></a></li>
				<li class="B white"><a href="#" onmousedown="playNote('B1', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('B1', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>B</span></a></li>
			</ul>
			<ul class="scale oct1">
				<li class="C white"><a href="#" onmousedown="playNote('C2', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('C2', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>C</span></a></li>
				<li class="Cd black"><a href="#" onmousedown="playNote('C2d', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('C2d', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>C&#9839;</span></a></li>
				<li class="D white"><a href="#" onmousedown="playNote('D2', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('D2', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>D</span></a></li>
				<li class="Eb black"><a href="#" onmousedown="playNote('E2b', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('E2b', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>E&#9837;</span></a></li>
				<li class="E white"><a href="#" onmousedown="playNote('E2', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('E2', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>E</span></a></li>
				<li class="F white"><a href="#" onmousedown="playNote('F2', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('F2', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>F</span></a></li>
				<li class="Fd black"><a href="#" onmousedown="playNote('F2d', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('F2d', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>F&#9839;</span></a></li>
				<li class="G white"><a href="#" onmousedown="playNote('G2', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('G2', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>G</span></a></li>
				<li class="Gd black"><a href="#" onmousedown="playNote('G2d', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('G2d', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>G&#9839;</span></a></li>
				<li class="A white"><a href="#" onmousedown="playNote('A2', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('A2', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>A</span></a></li>
				<li class="Bb black"><a href="#" onmousedown="playNote('B2b', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('B2b', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>B&#9837;</span></a></li>
				<li class="B white"><a href="#" onmousedown="playNote('B2', this.parentNode);" onmouseup="pauseNote(this.parentNode);" onmouseover="showCord('B2', chordsScale);" onmouseout="pauseNote(this.parentNode);" onclick="return false;"><span>B</span></a></li>
			</ul>
		</div>
	</section>
	<section id="loader">
		<div>
			<h1><span>HTML5 Virtual Piano</span></h1>
			<span>Loading...</span>
			<progress max="26" value="0">
				
			</progress>
		</div>
	</section>
	<footer id="help">
		<p>Use your mouse/touchscreen or keyboard (from A to V). You can play more than one note at once. Hope you'll have fun and if you like it, share it with your friends.</p>
		<div><a href="#" onclick="toggleScale();return false;"><span>Show chords: <span id="cscale">none</span></span></a> <a href="#" onclick="toggle3D();return false;"><span>3D <span id="3dstatus">ON</span></span></a></div>
		<p><span>&copy; 2016 <a href="https://www.b1project.com">The B1 Project</a></span></p>
		<script type="text/javascript">
		//<![CDATA[
			var gp = _ce('g:plusone');
			gp.setAttribute('size', 'medium');
			_gid('help').appendChild(gp);
		//]]>
		</script>
		<div class="fb-like" data-href="https://www.b1project.com/virtualPiano.html" data-send="false" data-layout="button_count" data-width="92" data-show-faces="false" data-colorscheme="dark">&nbsp;</div>
	</footer>
	<audio preload="auto" onloadeddata="updateProgress();">
	  <source src="https://static.b1project.com/files/2octaves.mp3" type="audio/mp3" />
	  <source src="https://static.b1project.com/files/2octaves.ogg" type="audio/ogg" />
	</audio>
	<div id="fb-root">
		
	</div>
	<script type="text/javascript">
		var cc = new CookieConsent();
		if(cc.hasConsent() === true){
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-25562463-1']);
		_gaq.push(['_setDomainName', 'www.b1project.com']);
		_gaq.push(['_trackPageview']);
	
		(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    	var s = document.getElementsByTagName('script')[0];
	    	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    	po.src = 'https://apis.google.com/js/plusone.js';
	    	s.parentNode.insertBefore(ga, s);
	    	s.parentNode.insertBefore(po, s);
	    	po.onload = function(){
				window.___gcfg = {lang: 'en', parsetags: 'onload'};
				gapi.plusone.go();
			};
	    })();
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=101009603399";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		}
		else{
			var language = window.navigator.userLanguage || window.navigator.language;
			cc.init(language);
		}
	</script>
</body>
</html>
