<span class="nostyle profile-card" href="https://github.com/{{ include.profile.github }}">
    <img src="https://avatars3.githubusercontent.com/{{ include.profile.github }}?v=3&amp;s=250" alt="{{ include.profile.github }}" class="avatar">
    <span class="name">{{ include.profile.name }}</span>
    <span class="role">{{ include.profile.role }}</span>    
    <a class="github" href="https://github.com/{{ include.profile.github }}">@{{ include.profile.github }}</a>
    <a class="email" href="mailto:{{ include.profile.email }}@arkadyax.cf">{{ include.profile.email }}@arkadyax.cf</a>
</span>