.profile-card {
    display: inline-block;
    margin: 5px;
    padding: 5px;

    width: 100%;
    max-width: 250px;

    @extend %button;
    // Remove the effects of %button on text, so the cards display with normal styles
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-shadow: inherit;

    .avatar {
        padding: 10px;

        width: 100%;
        height: auto;
    }

    .name, .role, .github, .email {
        display: block;
        text-align: center;

        font-size: 0.9em;        
    }

    .name {
        font-size: 1.3em;
        color: $conifer
    };

    .role {
        font-size: 0.8em;
    };
}